.formelt{
    height: 40px;
    width: 400px;
    margin: 20px auto;
    text-align: left;
}

.formelt input{
    height: 20px;
    width: 250px;
}

.form button{
    height: 32px;
    width: 280px;
    background-color: mediumseagreen;
    margin: 7px;
    font-weight: bold;
    border: 2px solid black;
    font-size: 15px;
    padding: 2px 10px;
    box-shadow: 2px 2px black;
}

.form{
    margin:10px auto;
    width: 60%;
    padding: 10px;
    border:1px solid black;
}

.form p{
    color: crimson;
}
